body {
	font-family: verdana,arial,sans-serif;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	color: #666;
}

.games_container {
}

.games_title {
	float: left;
}

.games_help {
	float: right;
	text-align: right;
	position: relative;
}

.games_help_content {
	text-align: left;
	background: white;
	color: black;
	padding: 0.5em;
	border: 1px solid #666666;
}

.games_canvas {
	position: relative;
	top: 1.2em;
}

.games_border {
	border: 1px solid #666666;
}
